<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="appenderConsole" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n"/>
    </layout>
  </appender>
<!--
  <appender name="appenderFile" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="/logs/Scheduler.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="500KB"/>
    <param name="MaxBackupIndex" value="1"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n"/>
    </layout>
  </appender>
-->
  <logger name="org.hibernate" additivity="false">
    <level value="warn"/>
    <appender-ref ref="appenderConsole"/>
  </logger>
  <logger name="edu.rpi.rocs">
    <level value="debug"/>
    <!-- <appender-ref ref="appenderConsole"/> -->
  </logger>

  <root>
    <priority value="warn"/>
    <appender-ref ref="appenderConsole"/>
    <!--<appender-ref ref="appenderFile"/>-->
  </root>
</log4j:configuration>
