div#rocs_PORTLET_rocs_root_view {
    width: 1000px;
    font-size: 10pt;
    position: relative;
    left: 0;
    top: 0;
}

div#rocs_PORTLET_rocs_root_view p {
    font-family: Times;
    padding: 1em;
    padding-bottom: 0pt;
}

div#rocs_PORTLET_rocs_root_view h1 {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0.5em;
    margin-bottom: 0px;
}

div#rocs_PORTLET_rocs_root_view h4 {
    margin-top: 0;
    padding-top: 0;
}

.rocs-style a.linkbutton {
    margin: 0.2em;
    padding: 0.2em;
    text-decoration: none;
    display: block;
    text-align: center;
}

.rocs-style a.greybutton {
    color: #000;
    background-color: #ccc;
    border: 3px outset #ccc;
}

.rocs-style a.redbutton {
    color: #000;
    background-color: #f00;
    border: 3px outset #f00;
}

.rocs-style a.greenbutton {
    color: #000;
    background-color: #0d0;
    border: 3px outset #0d0;
}

.rocs-style a.bluebutton {
    color: #000;
    background-color: #adf;
    border: 3px outset #adf;
}

div#rocs_PORTLET_rocs_semester_pane {
    position:absolute;
    top:0px;
    left:0px;
    width:200px;
    height:70px;
    background-color: #f00;
}

div#rocs_PORTLET_rocs_courses_pane {
    position:absolute;
    top:0px;
    left:200px;
    width:800px;
    height:150px;
    background-color: #ff0;
    overflow:hidden;
}

div#rocs_PORTLET_rocs_courses_pane select.class_view {
    width: 300px;
    height: 100px;
    margin: 5px;
    position: relative;
    overflow-x: scroll;
}

div#rocs_PORTLET_rocs_search_pane {
    position:absolute;
    top:70px;
    left:0px;
    width:200px;
    height:530px;
    background-color: #0f0;
    overflow:hidden;
}

div#rocs_PORTLET_rocs_search_pane table {
    padding: 0;
}

div#rocs_PORTLET_rocs_search_pane table td {
    padding: 4px;
}

div#rocs_PORTLET_rocs_search_pane table td select {
    width: 100px;
}

div#rocs_PORTLET_rocs_search_pane table td input[type="text"] {
    width: 100px;
}

div#rocs_PORTLET_rocs_search_pane div.search_results {
    width: 190px;
    height: 284px;
    margin: 5px;
    position: relative;
    left: -5px;
    overflow-x: scroll;
}

div#rocs_PORTLET_rocs_search_pane select.search_results {
    min-width: 190px;
    min-height: 265px;
    font-family: Courier New;
    width: auto;
}

div#rocs_PORTLET_rocs_search_pane select.search_results option {
    font-size: 8pt;
}

div#rocs_PORTLET_rocs_scheduler_pane {
    position:absolute;
    top:150px;
    left:200px;
    width:800px;
    height:450px;
    background-color: #00f;
    overflow:hidden;
}

div.rocs-dialog {
    background-color: #fff;
}
