

#portlet_rocs_WAR_rocs_frame {
  position: relative;
  width: 1000px;
  height: 600px;
  top: 16px;
  margin-bottom: 0px;
}

#portlet_rocs_WAR_rocs_frame * {
  padding: 0;
  margin: 0;
}

#portlet_rocs_WAR_rocs_frame p {
  font-size: 10pt;
}

#portlet_rocs_WAR_rocs_frame a {
  font-size: 10pt;
}

#portlet_rocs_WAR_rocs_frame td {
  font-size: 10pt;
}

#portlet_rocs_WAR_rocs_frame table {
  padding: 0;
  margin: 0;
}

#portlet_rocs_WAR_rocs_semester_pane {
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:70px;
  background-color: #f00;
  overflow:hidden;
}

#portlet_rocs_WAR_rocs_semester_pane p {
  font-size: 10pt;
  padding: 0.2em;
  font-family: Arial;
}

#portlet_rocs_WAR_rocs_current_courses_pane {
  position:absolute;
  top:0px;
  left:200px;
  width:800px;
  height:150px;
  background-color: #ff0;
  overflow:hidden;
}

#portlet_rocs_WAR_rocs_current_courses_pane p {
  font-size: 10pt;
  padding: 0.2em;
  font-family: Arial;
}

#portlet_rocs_WAR_rocs_current_courses_pane table {
  margin-left: 1em;
  margin-top: 0.5em;
}

#portlet_rocs_WAR_rocs_search_pane table {
  padding: 0px;
}

#portlet_rocs_WAR_rocs_search_pane table td {
  padding: 4px;
}

#portlet_rocs_WAR_rocs_search_pane table td select {
  width: 100px;
}

#portlet_rocs_WAR_rocs_search_pane table td input[type="text"] {
  width: 100px;
}

#portlet_rocs_WAR_rocs_current_courses_pane select {
  width: 660px;
  font-family: Courier New;
}

a.greybutton {
  color: #000;
  background-color: #cccccc;
  border: 3px outset #ccc;
}

a.redbutton {
  color: #000;
  background-color: #f00;
  border: 3px outset #f00;
}

a.greenbutton {
  color: #000;
  background-color: #0d0;
  border: 3px outset #0d0;
}

#portlet_rocs_WAR_rocs_semester_pane p.centered a {
  text-decoration: none;
  color: #000;
  background-color: #cccccc;
  border: 3px outset #ccc;
  padding: 0.1em;
  margin: 0.2em;
}

#portlet_rocs_WAR_rocs_search_pane {
  position:absolute;
  top:70px;
  left:0px;
  width:200px;
  height:530px;
  background-color: #0f0;
  overflow:hidden;
}

p.centered {
  width: 100%;
  text-align: center;
}

#portlet_rocs_WAR_rocs_scheduler_pane {
  position:absolute;
  top:150px;
  left:200px;
  width:800px;
  height:450px;
  background-color: #00f;
  overflow:hidden;
}

#portlet_rocs_WAR_rocs_frame div.search_results {
  width: 190px;
  height: 317px;
  margin: 5px;
  position:relative;
  overflow-x: scroll;
}

#portlet_rocs_WAR_rocs_frame select.search_results {
  min-width: 190px;
  min-height: 300px;
  font-family: Courier New;
}

#portlet_rocs_WAR_rocs_frame select.search_results option {
  font-size: 8pt;
}

#portlet_rocs_WAR_rocs_scheduler_pane table#schedule_start td {
  vertical-align: center;
  text-align: center;
}

#portlet_rocs_WAR_rocs_scheduler_pane table#schedule_start .start {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}